<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Vorschau nicht verfügbar - kleineAnfragen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <p class="paper-preview-not-available">
    Leider kann für diese Anfrage noch keine Vorschau angezeigt werden.<br/>
    <%= link_to 'PDF herunterladen', paper_path(@body, @legislative_term, @paper, {format: :pdf}), {class: 'btn btn-primary'} %>
  </p>
</body>
</html>