<% title 'E-Mail-Adresse bestätigt' -%>
<%- content_for :head do %><%= noindex() %><% end -%>

<div class="page-header">
  <h1>E-Mail-Adresse bestätigt</h1>
</div>

<div class="alert-wrap">
  <div class="alert alert-success alert-icon">
    <p>Vielen Dank für die Bestätigung der E-Mail-Adresse.</p>
    <p>Die gewünschte Benachrichtigung ist ab jetzt aktiv.</p>
  </div>
</div>