<% title "#{@subscription.subject} per E-Mail abonnieren" -%>
<%- content_for :head do %><%= noindex() %><% end -%>

<div class="page-header">
  <h1><%= @subscription.subject %> per E-Mail abonnieren</h1>
</div>

<div class="alert-wrap">
  <div class="alert alert-warning alert-email alert-icon">
    <p>
    E-Mail-Abonnements sind gerade nicht möglich.
    </p>
  </div>
</div>