<% title 'E-Mail-Adresse bestätigen' -%>
<%- content_for :head do %><%= noindex() %><% end -%>

<div class="page-header">
  <h1>E-Mail-Abonnement</h1>
</div>

<div class="alert-wrap">
  <div class="alert alert-danger alert-icon">
    <p>Leider konnte dein E-Mail-Abonnement nicht beendet werden.</p>
  </div>
</div>

<p>Prüfe, ob der Link aus der E-Mail vollständig in der Addressleiste sichtbar ist. Manchmal brechen E-Mail-Programme lange Links um.</p>