<%- content_for :head do %><%= noindex() %><% end -%>
<div class="page-header">
  <h1>Abonnement nicht möglich</h1>
</div>

<p>
  Leider konnte dein Abonnement nicht eingetragen werden. Überprüfe die angegebene E-Mail-Adresse.
</p>
<p>
  Wenn du dir sicher bist, dass deine eingegebene E-Mail-Adresse korrekt ist,
  und diese Meldung trotzdem erscheint <%= link_to 'kontaktiere uns', info_kontakt_path %>.
</p>