<% title "#{@subscription.subject} per E-Mail abonnieren" -%>
<%- content_for :head do %><%= noindex() %><% end -%>

<div class="page-header">
  <h1><%= @subscription.subject %> per E-Mail abonnieren</h1>
</div>

<% if @needs_opt_in %>
<p>
  Da dies dein erstes Abonnement von kleineAnfragen ist,
  hast du soeben eine E-Mail mit einem Link zum Best채tigen deiner E-Mail-Adresse erhalten.
</p>
<p>
  Sobald du deine E-Mail-Adresse best채tigt hast, wird die gew체nschte Benachrichtigung aktiv.
</p>
<% else %>
<p>
  Die gew체nschte Benachrichtigung ist ab jetzt aktiv.
</p>
<% end %>