<% title "#{@subscription.subject} per E-Mail abonnieren" -%>
<%- content_for :head do %><%= noindex() %><% end -%>

<div class="page-header">
  <h1><%= @subscription.subject %> per E-Mail abonnieren</h1>
</div>
<p>
    Vielen Dank,
</p>
<p>
    wir schicken dir zuk체nftig eine E-Mail wenn es neue Anfragen gibt,
</p>
<% if @needs_opt_in %>
<p>
  Wenn dies dein erstes Abonnement von kleineAnfragen ist, musst du noch deine E-Mail Adresse best채tigen. Dazu haben wir dir eine E-Mail geschickt.
</p>
<p>
  Sobald du deine E-Mail-Adresse best채tigt hast, wird die gew체nschte Benachrichtigung aktiv.
</p>
<% end %>