/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";

// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
$font-size-base: 14px;
$font-size-h1: floor(($font-size-base * 2.2)); // ~30px
$font-size-h2: floor(($font-size-base * 1.85)); // ~25px
$font-size-h3: floor(($font-size-base * 1.4)); // ~19px

// FIXME: Download webfonts
// FIXME: reduce Raleway -> "kleineAnfragen.?"

$font-family-sans-serif:  "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-base:        $font-family-sans-serif !default;

@import "bootstrap";

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px; // FIXME variable?
}
.navbar-brand span {
  display: inline-block;
  margin-right: 2px;
  color: transparent;
  text-indent: -0.3em;
  &:after {
    content: '?';
    position: relative;
    top: 4px;
    transform: rotate(12deg);
    display: inline-block;
    font-weight: 500;
    color: #757F9A;
  }
}

.app-footer .container {
  border-top: 1px solid $gray-lighter;
  margin-top: 10px;
  padding-top: 10px;
  color: $gray-light;
}

.page-header {
  margin-top: 0;
}

.jumbotron {
  background: linear-gradient(20deg, #757F9A 10%, #D7DDE8 90%); /* W3C */
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0,0,0,.5);
}

.jumbotron .input-group {
  width: 100%;

  .form-control {
    box-shadow: none;
    height: 2.8em;
    width: 100%;
    border: 0;
    border-radius: 3px;
    padding-right: 6em;
  }

  .input-group-btn {
    width: auto;
    z-index: 100;
    right: 3px;
    /* display: block; */
    position: absolute;

    .btn {
      margin-top: 3px;
      height: 2.4em;
      margin-top: 0.2em;
      border-radius: 2px;
    }
  }
}

.latest-interpellations {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 0.6em;
  }

  p {
    margin-bottom: 0;
    padding-left: 75px;
  }

  .source {
    display: inline-block;
    margin-left: -75px;
    float: left;
  }

  .meta {
    color: #AAA;
    margin-left: 1.7em;
    font-size: 0.9em;
    line-height: 1.8;
    margin-left: 0;
  }
}

.label a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

.breadcrumb-fullwidth {
  background: $breadcrumb-bg;

  .breadcrumb {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.legislative-terms-overview {
  list-style: none;
  padding: 0;

  li {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $gray-lighter;
  }

  li:first-child {
    margin-top: 0;
  }

  h2 {
    margin: 0;
    line-height: 2.05;
  }

  .paper-count {
    display: inline-block;
    text-align: center;
    padding: 0 10px;
    border: 0px solid #EEE;
    border-width: 0 1px 0 1px;

    span {
      font-size: 1.6em;
    }
  }
}