/*!
 * kleineanfragen
 */
/*
 *= require_self
 */

@import "bootstrap-sprockets";

// From: https://github.com/thoughtbot/bourbon/blob/9fc15d596c770b6a29648255d4b40dfd7476dd77/app/assets/stylesheets/css3/_font-face.scss
// Order of the includes matters, and it is: normal, bold, italic, bold+italic.
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: font-url('#{$file-path}.eot');
    src: local($font-family),
         font-url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
         font-url('#{$file-path}.woff2')      format('woff2'),
         font-url('#{$file-path}.woff')       format('woff'),
         font-url('#{$file-path}.ttf')        format('truetype');
  }
}

@include font-face("Source Sans Pro", 'source-sans-pro/sourcesanspro-regular');
@include font-face("Source Sans Pro", 'source-sans-pro/sourcesanspro-semibold', 600);
@include font-face("Source Sans Pro", 'source-sans-pro/sourcesanspro-it', normal, italic);

// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
$font-size-base: 14px;
$font-size-h1: floor(($font-size-base * 2.2)); // ~30px
$font-size-h2: floor(($font-size-base * 1.85)); // ~25px
$font-size-h3: floor(($font-size-base * 1.4)); // ~19px
$headings-font-weight: 400; // Source Sans Pro doesn't has 500

$webfont-family-sans-serif:  "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-base:        $font-family-sans-serif !default;

// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint: 320px;

// Colors:
$brand-primary: #2980b9;

@import "bootstrap";
@import "bootstrap-select";

.fonts-loaded body {
  font-family: $webfont-family-sans-serif;
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #2980b9;
  text-indent: -3000em;
  background: image-url('kleineanfragen.svg') center no-repeat;
  background-origin: content-box;
  min-width: 170px;
}

.navbar-nav {
  display: none;
  @media (min-width: $screen-xs-min) {
    display: block;
  }
}

.app-footer.container {
  margin-top: 25px;
  color: $gray-light;
}

.app-footer .row {
  border-top: 1px solid $gray-lighter;
  padding: 5px 0;
}

.footer-project-line {
  padding-top: 10px;
}

.footer-support-logo {
  text-align: center;
}

.footer-support-logo img {
  height: 75px
}

.footer-links ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // reset the left/right padding of the <li>s
  margin-left: -5px;
  margin-right: -5px;
}

.footer-links li {
  padding: 2px 5px;
}

.footer-links a {
  padding: 2px 0;
  display: inline-block;
}

.footer-related ul {
  @media (min-width: $screen-sm-min) {
    justify-content: flex-end;
  }
}

.page-header {
  margin-top: 0;
}

.page-header--has-feed {
  padding-right: 30px;
  .feed {
    float: right;
    margin-top: -2.6em;
    margin-right: -30px;
  }
}

// copied from .h1 and .h2, because @extend is not possible in @media
.page-header h1 {
  font-size: 25px;
  line-height: 1.2;

  @media (min-width: $screen-sm-min) {
    font-size: 30px;
    line-height: 1.1;
  }
}

.feed-icon {
  width: 24px;
  height: 24px;
}

.jumbotron {
  background: linear-gradient(20deg, #757F9A 10%, #D7DDE8 90%);

  .tagline {
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0,0,0,.5);
    margin: 0;
    font-weight: normal;
  }
}

.jumbotron--home {
  padding: 15px 0 0;
  margin-bottom: 0;
  @media (min-width: $screen-sm-min) {
    padding: 30px 0 0;
    margin-bottom: 15px;
  }
}

.jumbotron--home .container {
  padding-bottom: 55px;
  @media (min-width: $screen-xs-min) {
    padding-bottom: 60px;
  }
  @media (min-width: $screen-sm-min) {
    padding-bottom: 90px;
  }
  background-image: image-url("papers.png");
  background-position: center 100px;
  background-repeat: no-repeat;
  background-size: contain;
}

.jumbotron--search {
  padding: 15px 0;
  @media (min-width: $screen-sm-min) {
    padding: 30px 0;
  }
  margin-bottom: 0;
}

.search .twitter-typeahead,
.search .input-group {
  width: 100%;
}

.search {
  .form-control {
    box-shadow: none;
    height: 2.8em;
    width: 100%;
    border: 0;
    padding-right: 6em;
    &:focus {
      box-shadow: none;
    }
  }

  .input-group .form-control {
    border-radius: 3px;
  }

  .input-group-btn {
    position: absolute;
    top: 0;
    right: 3px;
    width: auto;
    z-index: 100;

    .btn {
      margin-top: 3px;
      height: 2.4em;
      margin-top: 0.2em;
      border-radius: 2px;
    }
  }

  .tt-hint {
    color: #aaa;
  }

  span.twitter-typeahead .tt-dropdown-menu {
    width: 100%;
    border: 0;
    border-top: 2px solid #fff;
    padding: 2px 0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  }

  span.twitter-typeahead .tt-suggestion p {
    font-size: 14px;
    padding: 3px 11px;
    margin: 0;
    cursor: pointer;
  }

  .tt-suggestion .meta {
    color: #aaa;
  }
}

.search--navbar {
  padding: 0;
  width: 100%;
  margin-left: 0;

  @media (min-width: $screen-xs-min) {
    padding: 0 15px;
    width: auto;
  }

  .input-group {
    margin-top: -1px; // reset border
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  #searchq {
    width: 100%;

    @media (min-width: $screen-sm-min) {
      width: 400px;
    }
  }
}

span.twitter-typeahead {
  .tt-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-clip: padding-box;
  }
  .tt-suggestion {
    > p {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1.42857143;
      color: #333333;
      white-space: nowrap;
      &:hover, &:focus {
        color: #ffffff;
        text-decoration: none;
        outline: 0;
        background-color: #428bca;
      }
    }
    &.tt-cursor {
      color: #ffffff;
      background-color: #428bca;
    }
  }
  width: 100%;
}

.input-group {
  span.twitter-typeahead {
    display: block !important;
    .tt-dropdown-menu {
      top: 32px !important;
    }
  }
  &.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
    top: 44px !important;
  }
  &.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
    top: 28px !important;
  }
}

.page-content {
  margin-bottom: 20px;
}

.bodies-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  li + li {
    &:before {
      content: '•';
      color: #aaa;
      padding: 0 6px 0 3px;
    }
  }
}

.paper-list {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 1.6em;
    @media (min-width: $screen-xs-min) {
      margin-bottom: 0.6em;
    }
  }

  p {
    margin-bottom: 0;
    padding-left: 0;
    @media (min-width: $screen-xs-min) {
      padding-left: 60px;
    }
  }

  .source {
    display: inline-block;
    float: left;
    @media (min-width: $screen-xs-min) {
      margin-left: -60px;
    }
  }

  .paper-id {
    float: left;
  }

  .meta {
    color: #AAA;
    margin-left: 1.7em;
    font-size: 0.9em;
    line-height: 1.8;
    margin-left: 0;
  }

  .paper-problems {
    display: inline-block;
    width: 4em;
    position: relative;
    line-height: 1;
    vertical-align: top;
    padding-top: 7px;
  }

  &.paper-list--with-body {
    p {
      padding-left: 0;
      @media (min-width: $screen-xs-min) {
        padding-left: 80px;
      }
    }
    .source-and-title {
      padding-left: 60px;
      @media (min-width: $screen-xs-min) {
        padding-left: 80px;
      }
    }
    .source {
      margin-left: -60px;
      @media (min-width: $screen-xs-min) {
        margin-left: -80px;
      }
    }
    .label {
      display: block;
      margin-top: 5px;
      @media (min-width: $screen-xs-min) {
        display: inline;
        margin-top: 0;
      }
    }
  }
}

.circle {
  display: inline-block;
  position: relative;
  font-size: 1.5em;
  line-height: 0.3;
  border: 1px solid #C8C8C8;
  border-radius: 100% 100%;
  width: 10px;
  height: 10px;
  text-indent: -3000em;
  vertical-align: middle;

  &:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    top: 1px;
    left: 1px;
    border-radius: 100% 100%;
    background-color: #CCCCCC;
  }

  &.circle--large {
    width: 13px;
    height: 13px;
  }

  &.circle--large:after {
    width: 9px;
    height: 9px;
  }

  &.circle--nothing-new { border-style: dotted; }
  &.circle--success:after { background-color: #5cb85c; }
  &.circle--failure:after { background-color: #9b0000; }
  &.circle--running:after { animation: circle-running 1.2s infinite alternate; }
}

@keyframes circle-running {
  0% { background-color: #FFF; }
  20% { background-color: #FFF; }
  100% { background-color: #CCC; }
}

.problem {
  display: inline-block;
  position: absolute;
  font-size: 1.5em;
  line-height: 0.3;
  border: 1px solid #C8C8C8;
  border-radius: 100% 100%;
  width: 10px;
  height: 10px;
  padding-left: 1.5px;

  &.problem-wrong_published_at  { left: 0px;  color: #ff0000; }
  &.problem-missing_page_count  { left: 12px; color: #8000ff; }
  &.problem-missing_contents    { left: 12px; color: #8000ff; }
  &.problem-missing_originator_people        { left: 24px; color: #0080ff; }
  &.problem-missing_originator_organizations { left: 24px; color: #0080ff; }
  &.problem-missing_answerers   { left: 36px; color: #ff0080; }
}

.label {
  font-weight: normal;
  margin-right: 3px;
}

.label-big {
  font-size: 17px;
}

.label a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

.recent-link {
  width: 100%;
  font-size: 0.9em;
}

.breadcrumb-fullwidth {
  background: $breadcrumb-bg;

  .breadcrumb {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.legislative-terms-overview {
  list-style: none;
  padding: 0;

  li {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $gray-lighter;
  }

  li:first-child {
    margin-top: 0;
  }

  h2 {
    margin: 0;
    line-height: 2.05;
  }

  .paper-count {
    display: inline-block;
    text-align: center;
    padding: 0 10px;
    border: 0px solid #EEE;
    border-width: 0 1px 0 1px;

    span {
      font-size: 1.6em;
    }
  }
}

.facetbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  padding: 5px 0;

  @media (min-width: $screen-sm-min) {
    line-height: 2.5;
  }
  @media (min-width: $screen-lg-min) {
    line-height: inherit;
  }

  .form-group label {
    vertical-align: middle;
    margin-bottom: 0;
  }

  .btn {
    background: #ECECEC;
    height: 2.1em;
    padding-right: 28px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.facetbar-heading, .facetbar-group {
  margin-right: 10px;
}

.facetbar-group:last-child {
  margin-right: 0;
}

.facetbar-group select {
  vertical-align: middle;
}

.js .facetbar-group select[multiple] {
  max-height: 2.5rem;
}

// force through increased specificity
.facetbar-group .btn-group.bootstrap-select.bootstrap-select {
  width: auto;
  max-width: 200px
}

.facetbar-group .btn-group.bootstrap-select .filter-option {
  text-overflow: ellipsis;
}

.selectpicker > li.selected > a {
  color: #757F9A;
}
.selectpicker + .bootstrap-select li.selected a:before {
  content: '\25CF';
  margin-left: -13px;
  position: absolute;
}
.selectpicker[multiple] + .bootstrap-select li.selected a:before {
  content: '\2714';
}

.searchresult-title mark {
  background: transparent;
  color: inherit;
  padding: 0;
  font-weight: bold;
}

.searchresult-snippet mark {
  font-weight: bold;
}

.pagination-total {
  @extend .pull-right;
  margin: 20px 0;
  line-height: 2.5;
}

.well {
  box-shadow: none;
}

.recent-list {
  margin: 0;
  padding: 0;
  list-style: none;

  h2 {
    @extend .h3;
  }

  .paper-list {
    margin-left: 15px;
  }
}

.shorturl-label {
  font-size: 85%;
  margin-bottom: 0;
  display: block;
}

.shorturl-input {
  width: 100%;
}

.paper-viewer-wrapper {
  padding: 0;
  @media (min-width: $screen-md-min) {
    // default
    padding-left: 15px;
    padding-right: 15px;
  }
}

.paper-preview-not-available {
  text-align: center;
}

.report {
  text-align: right;
  font-size: 85%;
}

.alert-wrap {
  text-align: center;
  margin-bottom: 1.5em;

  .alert {
    display: inline-block;
    margin: 0 auto;
    min-width: 19em;
  }
}

.alert-icon {
  &.alert-success,
  &.alert-info,
  &.alert-warning,
  &.alert-danger {
    background-color: transparent;
  }

  position: relative;
  padding-top: 10em;

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 15px;
    width: 8em;
    height: 8em;
    margin-left: -4em;
    border: 1px solid transparent;
    border-radius: 100%;
    background-position: center;
    background-size: 5em;
    background-repeat: no-repeat;
  }

  &.alert-success:before {
    border-color: $state-success-border;
    background-image: image-url('icon-tick.svg');
  }

  &.alert-warning:before {
    border-color: $state-warning-border;
  }

  &.alert-email:before {
    background-image: image-url('icon-email.svg');
  }

  &.alert-danger:before {
    border-color: $state-danger-border;
    background-image: image-url('icon-cross.svg');
  }
}

.alert-nuts {
  background: #FBEACD;
  color: #4C3F29;
  border-radius: 0;
  padding: 6px 10px;
  margin: 0 0 5px 0;
  @media (min-width: $screen-md-min) {
    margin-top: -5px;
  }
}

.dump-iframe {
  width: 100%;
  border: 1px solid #AAA;
}

.date-weekend {
  background-color: #F7F7F7;
}

.subscribe-block {
  background: #757F9A;
  background: linear-gradient(20deg, #757F9A 10%, #BEC8DA 90%);
  padding: 15px;
  margin: 0 0 20px 0;

  h3 {
    @extend .h4;
    margin: 0;
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0,0,0,.5);
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;

    @media (min-width: $screen-md-min) {
      text-align: left;
      margin: 15px 0;
      float: left;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    @media (min-width: $screen-md-min) {
      text-align: right;
    }
  }

  li {
    display: inline-block;
    margin: 10px 5px 5px;
    @media (min-width: $screen-md-min) {
      margin: 10px 0 5px 5px;
    }
  }

  &.subscribe-block--light {
    background: #F5F5F5;

    h3 {
      color: #545454;
      text-shadow: none;
    }
  }
}
.subscribe-tabletwitter {
  clear: both;
}

.ministry-others,
.organization-others {
  h3 {
    margin-top: 0;
  }
  ul {
    padding-left: 16px;
  }
}

.btn-icon-feed:before,
.btn-icon-email:before {
  content: '';
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 0.5em;
  background-size: 12px;
  background-repeat: no-repeat;
  vertical-align: middle;
}

// using open iconic icons here, MIT (https://useiconic.com/open)
.btn-icon-email:before {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPgo8cGF0aCBkPSJNMCAwdjFsNCAyIDQtMnYtMWgtOHptMCAydjRoOHYtNGwtNCAyLTQtMnoiIGZpbGw9IiNmZmYiIC8+Cjwvc3ZnPg==');
  height: 9px;
}

.btn-icon-feed:before {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPgo8cGF0aCBkPSJNMSAwdjFjMy4zMiAwIDYgMi42OCA2IDZoMWMwLTMuODYtMy4xNC03LTctN3ptMCAydjFjMi4yMSAwIDQgMS43OSA0IDRoMWMwLTIuNzYtMi4yNC01LTUtNXptMCAydjFjMS4xMSAwIDIgLjg5IDIgMmgxYzAtMS42NS0xLjM1LTMtMy0zem0wIDJjLS41NSAwLTEgLjQ1LTEgMXMuNDUgMSAxIDEgMS0uNDUgMS0xLS40NS0xLTEtMXoiIGZpbGw9IiNmZmYiIC8+Cjwvc3ZnPg==');
}

.review-list-relations {
  & > li {
    margin-bottom: 30px;
  }

  .reference-lines {
    margin-left: 60px;
    margin-bottom: 10px;
    padding: 10px;
  }

  .reference-lines p {
    padding-left: 0;
  }
}

mark.known {
  background-color: #E3EFFC;
}