/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";

// From: https://github.com/thoughtbot/bourbon/blob/9fc15d596c770b6a29648255d4b40dfd7476dd77/app/assets/stylesheets/css3/_font-face.scss
// Order of the includes matters, and it is: normal, bold, italic, bold+italic.
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: font-url('#{$file-path}.eot');
    src: font-url('#{$file-path}.eot?#iefix')          format('embedded-opentype'),
         font-url('#{$file-path}.woff')                format('woff'),
         font-url('#{$file-path}.ttf')                 format('truetype'),
         font-url('#{$file-path}.svg##{$font-family}') format('svg');
  }
}

@include font-face(SourceSansPro, 'source-sans-pro/sourcesanspro-regular');
@include font-face(SourceSansPro, 'source-sans-pro/sourcesanspro-semibold', 600);
@include font-face(SourceSansPro, 'source-sans-pro/sourcesanspro-it', normal, italic);
@include font-face(RalewayLogofont, 'raleway-logofont/raleway-logofont', 500);


// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
$font-size-base: 14px;
$font-size-h1: floor(($font-size-base * 2.2)); // ~30px
$font-size-h2: floor(($font-size-base * 1.85)); // ~25px
$font-size-h3: floor(($font-size-base * 1.4)); // ~19px
$headings-font-weight: 400; // Source Sans Pro doesn't has 500

$font-family-sans-serif:  "SourceSansPro", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-base:        $font-family-sans-serif !default;

// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:   320px;

@import "bootstrap";

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  font-family: 'RalewayLogofont', 'Raleway' sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #2980b9;
}
.navbar-brand span {
  display: inline-block;
  margin-right: 2px;
  color: transparent;
  text-indent: -0.3em;
  &:after {
    content: '?';
    position: relative;
    top: 4px;
    transform: rotate(12deg);
    display: inline-block;
    font-weight: 500;
    color: #757F9A;
  }
}

.app-footer .container {
  border-top: 1px solid $gray-lighter;
  margin-top: 10px;
  padding-top: 10px;
  color: $gray-light;
}

.page-header {
  margin-top: 0;
}

.jumbotron {
  background: linear-gradient(20deg, #757F9A 10%, #D7DDE8 90%);

  .tagline {
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0,0,0,.5);
  }
}

.jumbotron--home {
  padding: 15px 0;
  margin-bottom: 0;
  @media (min-width: $screen-sm-min) {
    padding: 30px 0;
    margin-bottom: 15px;
  }
}

.jumbotron--search {
  padding: 30px;
}

.search .twitter-typeahead,
.search .input-group {
  width: 100%;
}

.search {
  .form-control {
    box-shadow: none;
    height: 2.8em;
    width: 100%;
    border: 0;
    padding-right: 6em;
    &:focus {
      box-shadow: none;
    }
  }

  .input-group .form-control {
    border-radius: 3px;
  }

  .input-group-btn {
    position: absolute;
    top: 0;
    right: 3px;
    width: auto;
    z-index: 100;

    .btn {
      margin-top: 3px;
      height: 2.4em;
      margin-top: 0.2em;
      border-radius: 2px;
    }
  }

  .tt-hint {
    color: #aaa;
  }

  span.twitter-typeahead .tt-dropdown-menu {
    width: 100%;
    border: 0;
    border-top: 2px solid #fff;
    padding: 2px 0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  }

  span.twitter-typeahead .tt-suggestion p {
    font-size: 14px;
    padding: 3px 11px;
    margin: 0;
    cursor: pointer;
  }

  .tt-suggestion .meta {
    color: #aaa;
  }
}

.search--navbar {
  padding: 0;
  width: 100%;
  margin-left: 0;

  @media (min-width: $screen-xs-min) {
    padding: 0 15px;
    width: auto;
  }

  .input-group {
    margin-top: -1px; // reset border
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  #searchq {
    width: 100%;

    @media (min-width: $screen-sm-min) {
      width: 400px;
    }
  }
}


span.twitter-typeahead {
  .tt-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-clip: padding-box;
  }
  .tt-suggestion {
    > p {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1.42857143;
      color: #333333;
      white-space: nowrap;
      &:hover, &:focus {
        color: #ffffff;
        text-decoration: none;
        outline: 0;
        background-color: #428bca;
      }
    }
    &.tt-cursor {
      color: #ffffff;
      background-color: #428bca;
    }
  }
  width: 100%;
}

.input-group {
  span.twitter-typeahead {
    display: block !important;
    .tt-dropdown-menu {
      top: 32px !important;
    }
  }
  &.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
    top: 44px !important;
  }
  &.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
    top: 28px !important;
  }
}


.paper-list {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 0.6em;
  }

  p {
    margin-bottom: 0;
    padding-left: 55px;
  }

  .source {
    display: inline-block;
    margin-left: -55px;
    float: left;
  }

  .meta {
    color: #AAA;
    margin-left: 1.7em;
    font-size: 0.9em;
    line-height: 1.8;
    margin-left: 0;
  }

  &.paper-list--with-body {
    p {
      padding-left: 75px;
    }
    .source {
      margin-left: -75px;
    }
  }
}

.label {
  font-weight: normal;
}

.label-big {
  font-size: 17px;
}

.label a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

.recent-link {
  width: 100%;
  font-size: 0.9em;
}


.breadcrumb-fullwidth {
  background: $breadcrumb-bg;

  .breadcrumb {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.legislative-terms-overview {
  list-style: none;
  padding: 0;

  li {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $gray-lighter;
  }

  li:first-child {
    margin-top: 0;
  }

  h2 {
    margin: 0;
    line-height: 2.05;
  }

  .paper-count {
    display: inline-block;
    text-align: center;
    padding: 0 10px;
    border: 0px solid #EEE;
    border-width: 0 1px 0 1px;

    span {
      font-size: 1.6em;
    }
  }
}

.searchresult-title mark {
  background: transparent;
  color: inherit;
  padding: 0;
  font-weight: bold;
}

.searchresult-snippet mark {
  font-weight: bold;
}

.pagination-total {
  @extend .pull-right;
  margin: 20px 0;
  line-height: 2.5;
}

.well {
  box-shadow: none;
}

.recent-list {
  margin: 0;
  padding: 0;
  list-style: none;

  h2 {
    @extend .h3;
  }

  .paper-list {
    margin-left: 15px;
  }
}