<% title 'Daten' %>

<h1>Hinweise zur Datenqualität</h1>
<p>
Die von kleineanfragen.de verwendeten Daten stammen von
den Webseiten der jeweiligen Parlamente. Diese Webseite basiert
auf einer maschinellen Auswertung der dort angebotenen HTML-
und PDF-Seiten ("screen scraping").
Obwohl wir um eine korrekte Verarbeitung bemüht sind,
ist dieses Vorgehen für Fehler anfällig.
Sollten also Daten auf den Seiten komisch aussehen oder Fehler
enthalten, zögere nicht
<%= link_to 'uns zu kontaktieren', info_kontakt_path %>.</p>

<p>Die normalisierten Namen von Parteien, Personen und Ministerien
sind als Datensätze auf der <a href="https://nk.kleine-anfragen.de">Nomenklatura-Instanz von kleineAnfragen</a>
einseh- und herunterladbar.</p>

<h1>Datenexport</h1>
<p>Für eigene Auswertungen steht die Datenbank hinter kleineAnfragen zum Download bereit:</p>
<iframe src="https://s3.kleine-anfragen.de/ka-dump/index.html" frameborder="0" class="dump-iframe"></iframe>
<p><a href="https://s3.kleine-anfragen.de/ka-dump/index.html" target="_blank">In einem neuen Fenster öffnen</a> <small>(Amazon S3-kompatibles Bucket)</small></p>
<p>Das Datenbankschema ist <a href="https://github.com/robbi5/kleineanfragen/blob/master/db/schema.rb">auf GitHub (<code>db/schema.rb</code>)</a> zu finden.</p>

<p>Wer nicht den kompletten Datenbestand ziehen und analysieren will: Jede Anfragen-Seite gibt es auch im <code>JSON</code>-Format. Dazu einfach <code>.json</code> an die URL anhängen.</p>

<h2>Lizenz</h2>
<p>Die Daten von kleineAnfragen werden unter der <a href="http://opendatacommons.org/licenses/odbl/">Open Database License (ODbL)</a> angeboten. Daher können sie ohne Rückfrage auch für kommerzielle Zwecke genutzt werden. Abgeleitete Datenbanken müssen ebenfalls unter einer offenen Lizenz veröffentlicht werden (Share-Alike).</p>
<p>Einige Metadaten und der Inhalt der Anfragen stammen aus den PDFs der jeweiligen Drucksachen, die als amtliche Werke vom Urheberrecht ausgenommen sind (§ 5 UrhG).</p>