<% title 'Hinweise zur Datenqualität' %>

<h1>Hinweise zur Datenqualität</h1>
<p>
Die von kleineanfragen.de verwendeten Daten stammen von
den Webseiten der jeweiligen Parlamente. Diese Webseite basiert
auf einer maschinellen Auswertung der dort angebotenen HTML-
und PDF-Seiten ("screen scraping").
Obwohl wir um eine korrekte Verarbeitung bemüht sind,
ist dieses Vorgehen für Fehler anfällig.
Sollten also Daten auf den Seiten komisch aussehen oder Fehler
enthalten, zögere nicht
<%= link_to 'uns zu kontaktieren', info_kontakt_path %>.</p>

<p>Die normalisierten Namen von Parteien, Personen und Ministerien
sind als Datensätze auf <a href="http://opennames.org/">opennames.org</a>
einseh- und herunterladbar.</p>