<% content_for :title do %>Kontakt und Impressum<% end %>
<h1>Kontakt</h1>
<p>
  Für Fragen und Vorschläge zur Seite gerne
  einen Tweet an <%= link_to '@kleineanfragen', 'https://twitter.com/kleineanfragen' %>
  oder per E-Mail an <%= link_to 'hallo@kleineanfragen.de', 'mailto:hallo@kleineanfragen.de' %>.
</p>

<h2>Wichtiger Hinweis</h2>
<p>
  Dieses Projekt basiert auf Daten der jeweiligen Parlamente, ist jedoch von diesen unabhängig.
  <%= link_to 'Mehr zur Datenqualität', info_daten_path %>.
</p>

<h2>Impressum</h2>
<p>
  Maximilian Richt<br/>
  Zettlerstraße 7g<br/>
  86415 Mering<br/>
  08233 32796<br/>
  hallo<!-- -welt -->@kleine<!-- -->anfragen.de<!-- .example.org -->
</p>
<p><strong>Haftung für Inhalte</strong></p>
<p>Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für
eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht
verpflichtet, übermittelte oder gespeicherte fremde Informationen zu
überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige
Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der
Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon
unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem
Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei
Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte
umgehend entfernen.</p>
<p><strong>Haftung für Links</strong></p>
<p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren
Inhalte wir keinen Einfluss haben. Deshalb können wir für diese
fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte
der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der
Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung
auf mögliche Rechtsverstöße überprüft. Rechtswidrige
Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente
inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte
einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen
werden wir derartige Links umgehend entfernen.</p>