<% title 'Kontakt und Impressum' %>
<h1>Kontakt</h1>
<p>
  Für Fragen und Vorschläge zur Seite gerne
  einen Tweet an <%= link_to '@kleineanfragen', 'https://twitter.com/kleineanfragen' %>
  oder per E-Mail an <%= link_to 'hallo@kleineanfragen.de', 'mailto:hallo@kleineanfragen.de' %>.
</p>

<p><strong>Wichtige Hinweise:</strong></p>
<p>
  Dieses Projekt basiert auf Daten der jeweiligen Parlamente, ist jedoch von diesen unabhängig.
  <%= link_to 'Mehr zur Datenqualität', info_daten_path %>.<br/>
  Für Fragen und Kommentare zu den Inhalten der einzelnen Anfragen und Antworten, bitte die jeweiligen Abgeordneten/Fraktionen kontaktieren.
</p>

<h2>Team</h2>
<p>
  kleineAnfragen wurde von <a href="http://robbi5.de">Maximilian Richt</a> entworfen und umgesetzt.<br/>
  Scraper für die Bundesländer wurden von <a href="https://github.com/globalworming">Andreas Worm</a>
  und <a href="https://github.com/taitaro">Felix Sonnenholzer</a> beigesteuert.<br/>
  Die Entwicklung der Seite wurde durch die <a href="https://headissue.com">headissue GmbH</a> unterstützt.
</p>

<h2>Impressum</h2>
<h3>Anbieter im Sinne des § 5 Telemediengesetzes</h3>
<p>
  Open Knowledge Foundation Deutschland e.V.<br/>
  Singerstraße 109<br/>
  10179 Berlin
</p>
<p>
  E-Mail: <%= link_to 'hallo@kleineanfragen.de', 'mailto:hallo@kleineanfragen.de' %><br/>
  Telefon: +49 30 57703666-0<br/>
  Fax: +49 30 57703666-9
</p>
<p>
  <strong>Eintragung im Vereinsregister</strong><br/>
  Vereinsregister-Nummer: VR 30468 B<br/>
  Vereinsregister-Gericht: Amtsgericht Charlottenburg (Berlin) Steuernummer: 27/674/52428<br/>
  Umsatzsteuer-Identifikationsnummer: DE278022128
</p>

<p><strong>Haftung für Inhalte</strong></p>
<p>Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für
eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht
verpflichtet, übermittelte oder gespeicherte fremde Informationen zu
überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige
Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der
Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon
unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem
Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei
Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte
umgehend entfernen.</p>

<p><strong>Haftung für Links</strong></p>
<p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren
Inhalte wir keinen Einfluss haben. Deshalb können wir für diese
fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte
der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der
Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung
auf mögliche Rechtsverstöße überprüft. Rechtswidrige
Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente
inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte
einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen
werden wir derartige Links umgehend entfernen.</p>