<% title 'Mitmachen' %>

<h1>Mitmachen</h1>
<p>
kleineAnfragen ist freie Software (MIT-lizenziert) und <a href='https://github.com/robbi5/kleineanfragen'>kann von allen weiterentwickelt werden</a>.
Wir freuen uns über neue Funktionen, verbesserte Scraper oder Visualisierungen.
</p>
