<% title 'Quellcode' %>

<h1>Quellcode</h1>
<p>
kleineAnfragen ist freie Software (MIT-lizenziert) und kann von allen eingesehen und angepasst werden. Der <a href='https://github.com/robbi5/kleineanfragen'>Quellcode von kleineAnfragen befindet sich auf GitHub</a>.
</p>
<p>
Bitte beachte, dass ein Fork bzw. Weiterbetrieb unter anderem Namen das grundlegende Problem, dass Parlamente die Daten nicht offen und in einem weiterverwendbaren Zustand bereitstellen, auch nicht löst. Zum aktuellen Zeitpunkt sind nun wirklich die Parlamente gefordert, endlich den längst überfälligen nächsten Schritt zu gehen. Mehr dazu auch auf der <%= link_to 'Seite zu Informationen und Hintergründen zur Abschaltung', obituary_url %>.
</p>