<% title 'Mitmachen' %>

<h1>Mitmachen</h1>
<p>
kleineAnfragen ist freie Software (MIT-lizenziert) und kann von allen weiterentwickelt werden. Der <a href='https://github.com/robbi5/kleineanfragen'>Quellcode von kleineAnfragen befindet sich auf GitHub</a>.
<br/>
Wir freuen uns über neue Funktionen, verbesserte Scraper oder Visualisierungen.
</p>