<% title 'Spenden' %>

<h1>kleineAnfragen unterstützen</h1>
<p>
  Um kleineAnfragen weiter zu entwickeln benötigen wir Ihre Unterstützung. Daher freuen wir uns, wenn Sie 20 Euro an uns spenden könnten &mdash; oder selbst <%= link_to 'an der Entwicklung mithelfen', info_mitmachen_path %>!
</p>

<h2>Spendenm&ouml;glichkeiten</h2>
<p>
  Unser <a href="https://okfn.de/verein/">Tr&auml;gerverein</a> ist <strong>gemeinn&uuml;tzig</strong> und Ihre Spende ist daher <strong>steuerlich absetzbar</strong>.
  Au&szlig;erdem ist er Mitglied in der <a href="https://okfn.de/verein/">Initiative Transparente Zivilgesellschaft</a>.
</p>

<h3>&Uuml;berweisung, z.B. als Dauerauftrag</h3>
<div class="row">
  <div class="col-lg-6 col-md-6">
    <dl>
      <dt>Empf&auml;nger:</dt>
      <dd>Open Knowledge Foundation Deutschland e.V.</dd>
      <dt>BIC:</dt>
      <dd>GENO DE F1 ETK</dd>
    </dl>
  </div>
  <div class="col-lg-6 col-md-6">
    <dl>
      <dt>IBAN:</dt>
      <dd>DE89830944950003009670</dd>
      <dt>Verwendungszweck:</dt>
      <dd>kleineAnfragen</dd>
    </dl>
  </div>
</div>

<h3>Spenden &uuml;ber das Spendenformular</h3>
<div id="betterplace_donation_iframe" style="background: transparent url('https://www.betterplace.org/assets/new_spinner.gif') 275px 20px no-repeat; text-align: center;"><iframe style="background-color: transparent;" src="https://www.betterplace.org/de/projects/40088/iframe_donations/new?donation_presenter[donation_amount]=20&amp;utm_source=iframe_donation_form&amp;utm_medium=project_40088&amp;utm_campaign=external_donation_forms&amp;utm_content=https://kleineanfragen.de/info/spenden/" frameborder="0" width="100%" height="1120"></iframe></div>

<h3>Betterplace.org</h3>
<p><a href="https://www.betterplace.org/de/projects/40088-kleineanfragen-de/">&Uuml;ber die Spendenplattform Betterplace</a> (100% Ihrer Spende geht an kleineAnfragen.de)</p>