<% content_for :main_class do %>page-closing<% end %>
<% title 'Stilllegung' %>

<h1 class="closing-title"><span>kleineAnfragen</span> wurde abgeschaltet <i class="icon">&#128680;</i></h1>

<div class="row">
  <div class="col-sm-6 col-md-5">
    <p>
      Seit über fünf Jahren stellte kleineAnfragen.de die kleinen und großen Anfragen aller Parlamente zusammen und machte die interessanten und wertvollen Informationen der Anfragen und ihren Antworten mehr Menschen zugänglich.
    </p>
    <p>
      Vor kleineAnfragen waren diese Informationen über die vielen Dokumentationssysteme der Parlamente verstreut, es gab selten Volltext-Suchfunktionen, und bei manchen ließen sich die gefundenen PDF-Dokumente nicht einmal verlinken.
    </p>
  </div>
  <div class="col-sm-6 col-md-offset-2 col-md-5">
    <p>
      Wir wollten mit einem positiven Beispiel vorangehen, und zeigen, was trotz fehlender Daten der Parlamente möglich ist:
    </p>
    <ul>
      <li>Saubere, stabile und verlinkbare URLs</li>
      <li>eine Volltextsuche (nicht nur von redaktionell vergebenen Stichwörtern)</li>
      <li>maschinenlesbare Metadaten</li>
      <li>E-Mail-Abonnement für neue Antworten</li>
      <li>Feeds um selbst auf den neuesten Stand bleiben zu können und z.B. daraus automatisiert Twitter-Bots zu betreiben</li>
      <li>Erkennung von Tabellen und eingestuften Dokumenten</li>
    </ul>
  </div>
</div>

<p class="closing-lead">
  In den letzten Monaten haben immer mehr Parlamente ihre Parlamentsdokumentation überarbeitet. Leider passierte dies, ohne an stabile URLs oder an offene Daten zu denken. Das hat zur Folge, dass für jedes einzelne der 17 Parlamente immer wieder umfangreiche Änderungen an der Software von kleineAnfragen notwendig sind, um die veröffentlichten Anfragen importieren zu können.
</p>

<h3>Änderungen an kleineAnfragen seit Start der Seite</h3>
<div class="closing-timeline">
  <ol>
    <li><i class="icon">&#x1F389;</i> <time datetime="2014-09-02">09/2014</time> <span>Start kleineAnfragen</span></li>
    <li><i class="icon">&#x2795;</i> <time datetime="2014-09-04">09/2014</time> <span>Bayern hinzugefügt</span></li>
    <li><i class="icon">&#x2795;</i> <time datetime="2014-10-01">10/2014</time> <span>Berlin &amp; Brandenburg hinzugefügt</span></li>
    <li><i class="icon">&#x2795;</i> <time datetime="2014-12-29">12/2014</time> <span>Bundestag &amp; Hamburg hinzugefügt</span></li>
    <li><i class="icon">&#x2795;</i> <time datetime="2015-02-04">02/2015</time> <span>Rheinland-Pfalz, Mecklenburg-Vorpommern &amp; Niedersachsen hinzugefügt</span></li>
    <li><i class="icon">&#x2795;</i> <time datetime="2015-03-09">03/2015</time> <span>Saarland hinzugefügt</span></li>
    <li><i class="icon">&#x1F4A5;</i> <time datetime="2015-04-04">04/2015</time> <span>Hamburg repariert</span></li>
    <li><i class="icon">&#x2795;</i> <time datetime="2015-04-28">04/2015</time> <span>Schleswig-Holstein, Sachsen-Anhalt, Hessen hinzugefügt</span></li>
    <li><i class="icon">&#x2795;</i> <time datetime="2015-05-01">05/2015</time> <span>Nordrhein-Westfalen, Thüringen, Bremen hinzugefügt</span></li>
    <li><i class="icon">&#x1F4A5;</i> <time datetime="2015-05-17">05/2015</time> <span>Bayern und Hamburg repariert</span></li>
    <li><i class="icon">&#x2795;</i> <time datetime="2015-06-08">06/2015</time> <span>Sachsen hinzugefügt</span></li>
    <li><i class="icon">&#x2795;</i> <time datetime="2015-08-25">08/2015</time> <span>Baden-Württemberg hinzugefügt</span></li>
    <li><i class="icon">&#x1F4A5;</i> <time datetime="2015-09-06">09/2015</time> <span>Hamburg und Niedersachsen repariert</span></li>
    <li><i class="icon">&#x1F4A5;</i> <time datetime="2015-11-24">11/2015</time> <span>Brandenburg repariert</span></li>

    <li><i class="icon">&#x1F4A5;</i> <time datetime="2015-11-25">11/2015</time> <span>Bremen neu gebaut</span></li>
    <li><i class="icon">&#x1F4A5;</i> <time datetime="2015-11-26">11/2015</time> <span>Baden-Württemberg, Brandenburg, Bundestag, Bremen, Hessen,  Mecklenburg-Vorpommern und Nordrhein-Westfalen angepasst</span></li>
    <li><i class="icon">&#x1F4A5;</i> <time datetime="2016-01-13">01/2016</time> <span>Brandenburg, Saarland haben URL geändert</span></li>
    <li><i class="icon">&#x1F4A5;</i> <time datetime="2016-04-03">04/2016</time> <span>Sachsen neu gebaut</span></li>
    <li><i class="icon">&#x1F4A5;</i> <time datetime="2016-05-22">05/2016</time> <span>Rheinland-Pfalz, Brandenburg angepasst</span></li>
    <li><i class="icon">&#x1F4A5;</i> <time datetime="2016-06-02">06/2016</time> <span>Saarland, Baden-Württemberg angepasst</span></li>
    <li><i class="icon">&#x1F4A5;</i> <time datetime="2016-07-16">07/2016</time> <span>Rheinland-Pfalz angepasst</span></li>
    <li><i class="icon">&#x1F4A5;</i> <time datetime="2016-11-08">11/2016</time> <span>Baden-Württemberg, Bremen, Brandenburg, Sachsen angepasst/neu gebaut</span></li>
    <li><i class="icon">&#x1F4A5;</i> <time datetime="2017-01-12">01/2017</time> <span>Saarland angepasst</span></li>
    <li><i class="icon">&#x1F4A5;</i> <time datetime="2017-04-09">04/2017</time> <span>Hamburg &amp; Brandenburg angepasst</span></li>
    <li><i class="icon">&#x1F4A5;</i> <time datetime="2017-06-24">06/2017</time> <span>Schleswig-Holstein repariert</span></li>
    <li><i class="icon">&#x1F4A5;</i> <time datetime="2017-08-21">08/2017</time> <span>Baden-Württemberg angepasst</span></li>
    <li><i class="icon">&#x1F4A5;</i> <time datetime="2017-10-19">10/2017</time> <span>Hessen angepasst</span></li>
    <li><i class="icon">&#x1F4A5;</i> <time datetime="2017-10-21">10/2017</time> <span>Bundestag repariert</span></li>
    <li><i class="icon">&#x1F4A5;</i> <time datetime="2017-11-15">11/2017</time> <span>Brandenburg angepasst</span></li>
    <li><i class="icon">&#x1F4A5;</i> <time datetime="2017-12-20">12/2017</time> <span>Sachsen-Anhalt &amp; Niedersachsen angepasst</span></li>
    <li><i class="icon">&#x1F4A5;</i> <time datetime="2019-01-03">01/2019</time> <span>Baden-Württemberg angepasst</span></li>
  </ol>
  <small>Mehr? Eine <a href="https://docs.google.com/document/d/1dVXswrCkQfwICeN8rqjkXPoQO81pQCEdNZNKA6CvMo4/edit#" target="_blank">detailliertere Zeitleiste</a> und <a href="https://github.com/robbi5/kleineanfragen/commits/master" target="_blank">Commits auf GitHub</a></small>
</div>

<p class="closing-focus">
  <strong>Würden die Parlamente ihre Dokumentensammlung auch maschinenlesbar als <a href="https://okfn.de/themen/open_data/">offene Daten</a> veröffentlichen, wäre dies nicht notwendig.</strong>
   Leider ist das aktuell bei keinem Parlament (vollständig) der Fall, sodass kleineAnfragen keine weiteren und neuen Anfragen und Antworten der Parlamente verarbeiten kann, bis die Software angepasst werden würde.
</p>

<h3>Was nun passiert</h3>
<p>
Im Gegensatz zu anderen Projekten wird kleineAnfragen.de komplett ehrenamtlich und nur von einer Person betrieben, entwickelt und betreut. Dahergehend und durch den immer größer werdenen Aufwand, diese Anpassungen bei leider knapper werdenden Ressourcen auch vorzunehmen, <strong>wird kleineAnfragen bis zum 31.12.2020 nun immer weiter einschlafen</strong>.
<br/>
<strong>Etwa auftretende Fehler beim Import von Anfragen und Antworten werden nicht mehr korrigiert.</strong> Es werden auch keine E-Mail-Benachrichtigungen mehr verschickt und ab diesem Zeitpunkt wird auch keine Volltextsuche mehr möglich sein.
</p>
<p>
Wir kümmern uns um eine rechtzeitige, vollständige Aufnahme ins <a href="https://web.archive.org">Internet Archive</a>. Es wird versucht, statische Dumps unter den URLs zu hinterlassen, denn <a href="https://www.w3.org/Provider/Style/URI">Cool URIs don't change</a>.
</p>

<h3>Was tun?</h3>
<p>
Seit der Ankündigung der Abschaltung am 08.05.2019 ist bis zum 31.12.2020 Zeit, von <%= link_to 'Seiten der Parlamenten', info_path %> zu überdenken, wie eine moderne, stabile und offene Möglichkeit geschaffen werden kann, Anfragen und Antworten, aber auch alle anderen parlamentarische Dokumente besser für Menschen zugänglich und für Maschinen auch lesbar zu machen.
</p>
<p>
All dies sind Eigenschaften, die heutzutage mittels moderner Softwareentwicklung relativ zügig umgesetzt werden können &mdash; kleineAnfragen.de zeigte nur einen recht kleinen Teil, was möglich ist.
<strong>Nun ist es wieder die Aufgabe der Parlamente und insbesondere die des <a href="https://www.parlamentsspiegel.de">Parlamentsspiegel</a>s,</strong> der die Dokumente aller Parlamente aggregieren soll, <strong>die Situation zu verbessern.</strong><br/>
Bei den Überarbeitungen der Parlamentswebseiten in den letzten Monaten ließ sich bislang leider wenig erkennen. Dies ist besonders bezeichnend, da kleineAnfragen.de auch insbesondere von Abgeordneten, aber um so mehr von den Mitarbeiter*innen in den Parlamentsverwaltungen selbst benutzt wird.
</p>
<p>
<strong>Damit auch die Quintessenz:</strong> Wer <%= link_to 'für kleineAnfragen.de spenden', info_spenden_path %> will: Darum geht es nicht. Das Problem lässt sich nicht weiter beheben, indem Spenden an eine NGO eingeworben werden. Das Problem sind die Landesverwaltungen, die auch nach all den Jahren nicht aus ihren eigenen Erfahrungen gelernt zu haben scheinen, und die mit jedem großen Website-Relaunch wieder Links auf Dokumente kaputt machen, URLs brechen. Das hat auch damit zu tun, dass IT-Kompetenzen in der öffentlichen Verwaltung eher ab- denn aufgebaut werden. Falls Sie spenden möchten, <em>[hier Links zu Projekten, die es verdient haben]</em>. Aber das grundlegende Problem bleibt.
</p>

<h3>Und jetzt?</h3>
<p>
<strong>Update, 31.12.2020</strong>: Wie zu erwarten hat sich leider kein einziges Parlament trotz der Zeit zwischen der Ankündigung und der wirklichen Abschaltung gebessert.
</p>
<p>
Die Feeds und die Such-Benachrichtigungen von kleineAnfragen wurden deaktiviert und bisherige Such-Abos beendet.
</p>
<p>
Da bislang nicht der Eindruck entsteht, dass Parlamentsverwaltungen das Problem erkannt und priorisiert haben, ist es möglicherweise hilfreich, sie per E-Mail oder Brief daran zu erinnern. Eine Liste der Parlamente und der zuständigen Personen (meist Präsident*innen und Verwaltungsdirektor*innen) - Stand 01/2021 - folgt hier:
</p>


<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th>Bundesland</th>
      <th>Parlamentsdokumentation</th>
      <th>Kontaktmöglichkeit</th>
    </tr>
    <tr>
      <td>Baden-Württemberg</td>
      <td><a href="https://www.statistik-bw.de/OPAL">https://www.statistik-bw.de/OPAL</a></td>
      <td>
        Präsidentin: Muhterem Aras, Muhterem.Aras@gruene.landtag-bw.de,<br/>
        Verwaltungsdirektor: Berthold Friess, berthold.friess@landtag-bw.de ,<br/>
        Parlamentsdokumentation: parlamentsdokumentation@landtag-bw.de
      </td>
    </tr>
    <tr>
      <td>Bayern</td>
      <td><a href="https://www.bayern.landtag.de/parlament/dokumente/drucksachen/">https://www.bayern.landtag.de/parlament/dokumente/drucksachen/</a></td>
      <td>
        Präsidentin: Ilse Aigner, ilse.aigner@bayern.landtag.de,<br/>
        Verwaltungsdirektor: Peter Worm, peter.worm@bayern.landtag.de,<br/>
        zentrale-informationsstelle@bayern.landtag.de
      </td>
    </tr>
    <tr>
      <td>Berlin</td>
      <td><a href="http://pardok.parlament-berlin.de">http://pardok.parlament-berlin.de</a></td>
      <td>
        Präsident: Ralf Wieland, ralf.wieland@parlament-berlin.de,<br/>
        Verwaltungsdirektor: Christian Christen, direktor@parlament-berlin.de,<br/>
        Parlamentsdokumentation: dokumentation@parlament-berlin.de
      </td>
    </tr>
    <tr>
      <td>Brandenburg</td>
      <td><a href="https://www.parlamentsdokumentation.brandenburg.de">https://www.parlamentsdokumentation.brandenburg.de</a></td>
      <td>
        Präsidentin: Ulrike Liedtke, praesidentin@landtag.brandenburg.de,<br/>
        Verwaltungsdirektor: Detlef Voigt, direktor@landtag.brandenburg.de
      </td>
    </tr>
    <tr>
      <td>Bundestag</td>
      <td><a href="http://dipbt.bundestag.de/dip21.web">http://dipbt.bundestag.de/dip21.web</a></td>
      <td>
        Präsident: Wolfgang Schäuble, praesident@bundestag.de,<br/>
        Verwaltungsdirektor: Lorenz Müller, lorenz.mueller@bundestag.de,<br/>
        Parlamentsdokumentation: vorzimmer.id3@bundestag.de, <br/>
        Referat Online-Dienste: vorzimmer.ik6@bundestag.de<br/>
      </td>
    </tr>
    <tr>
      <td>Bremen</td>
      <td><a href="https://paris.bremische-buergerschaft.de">https://paris.bremische-buergerschaft.de</a></td>
      <td>
        Präsident: Frank Imhoff, frank.imhoff@buergerschaft.bremen.de, <br/>
        Verwaltungsdirektor: Hans-Joachim von Wachter, hans-joachim.wachtervon@buergerschaft.bremen.de
      </td>
    </tr>
    <tr>
      <td>Hamburg</td>
      <td><a href="https://www.buergerschaft-hh.de/Parldok">https://www.buergerschaft-hh.de/Parldok</a></td>
      <td>
         Präsidentin: Carola Veit, praesidentin@bk.hamburg.de, <br/>
         Verwaltungsdirektor: Johannes Düwel, direktor@bk.hamburg.de, <br/>
         Informationsdienste: infodienste@bk.hamburg.de
      </td>
    </tr>
    <tr>
      <td>Hessen</td>
      <td><a href="http://starweb.hessen.de/starweb/LIS/Pd_Eingang.htm">http://starweb.hessen.de/starweb/LIS/Pd_Eingang.htm</a></td>
      <td>
        Präsident: Boris Rhein, praesident@ltg.hessen.de, <br/>
        Verwaltungsdirektor: Peter von Unruh, p.unruh@ltg.hessen.de, <br/>
        Parlamentsdokumentation: parlamentsdokumentation@ltg.hessen.de
      </td>
    </tr>
    <tr>
      <td>Mecklenburg-Vorpommern</td>
      <td><a href="http://www.dokumentation.landtag-mv.de">http://www.dokumentation.landtag-mv.de</a></td>
      <td>
        Präsidentin: Birgit Hesse, praesidentin@landtag-mv.de, <br/>
        Verwaltungsdirektor: Armin Tebben, direktor@landtag-mv.de, <br/>
        Parlamentsdokumentation: bibliothek@landtag-mv.de
      </td>
    </tr>
    <tr>
      <td>Niedersachsen</td>
      <td><a href="http://www.nilas.niedersachsen.de">http://www.nilas.niedersachsen.de</a></td>
      <td>
        Präsidentin: Gabriele Andretta, gabriele.andretta@lt.niedersachsen.de, <br/>
        Verwaltungsdirektor: Udo Winkelmann, udo.winkelmann@lt.niedersachsen.de, <br/>
        Parlamentsdokumentation: nilas@lt.niedersachsen.de
      </td>
    </tr>
    <tr>
      <td>Nordrhein-Westfalen</td>
      <td><a href="https://www.landtag.nrw.de/portal/WWW/Navigation_R2010/040-Dokumente-und-Recherche/Inhalt.jsp">https://www.landtag.nrw.de/portal/WWW/Navigation_R2010/040-Dokumente-und-Recherche/Inhalt.jsp</a></td>
      <td>
        Präsident: André Kuper, andre.kuper@landtag.nrw.de, <br/>
        Verwaltungsdirektorin: Dorothee Zwiffelhoffer, dorothee.zwiffelhoffer@landtag.nrw.de, <br/>
        Parlamentsdokumentation: infothek@landtag.nrw.de
      </td>
    </tr>
    <tr>
      <td>Rheinland-Pfalz</td>
      <td><a href="http://opal.rlp.de/starweb/OPAL_extern">http://opal.rlp.de/starweb/OPAL_extern</a></td>
      <td>
        Präsident: Hendrik Hering, praesident@landtag.rlp.de, <br/>
        Verwaltungsdirektorin: Ursula Molka, direktorin@landtag.rlp.de, <br/>
        Parlamentsdokumentation: opal@landtag.rlp.de
      </td>
    </tr>
    <tr>
      <td>Saarland</td>
      <td><a href="http://www.landtag-saar.de/Dokumente">http://www.landtag-saar.de/Dokumente</a></td>
      <td>
        Präsident: Stephan Toscani, s.toscani@landtag-saar.de, <br/>
        Verwaltungsdirektor: Christof Zeyer, c.zeyer@landtag-saar.de
      </td>
    </tr>
    <tr>
      <td>Sachsen</td>
      <td><a href="http://edas.landtag.sachsen.de">http://edas.landtag.sachsen.de</a></td>
      <td>
        Präsident: Matthias Rößler, praesident@slt.sachsen.de, <br/>
        Verwaltungsdirektor: Christopher Metz, direktor@slt.sachsen.de, <br/>
        Parlamentsdokumentation: parlamentsdokumentation@slt.sachsen.de
      </td>
    </tr>
    <tr>
      <td>Sachsen-Anhalt</td>
      <td><a href="http://padoka.landtag.sachsen-anhalt.de">http://padoka.landtag.sachsen-anhalt.de</a></td>
      <td>
        Präsidentin: Gabriele Brakebusch, gabriele.brakebusch@lt.sachsen-anhalt.de, <br/>
        Verwaltungsdirektor: Torsten Gruß, torsten.gruss@lt.sachsen-anhalt.de,<br/>
        Parlamentsdokumentation: dokumentation@lt.sachsen-anhalt.de
      </td>
    </tr>
    <tr>
      <td>Schleswig-Holstein</td>
      <td><a href="http://lissh.lvn.parlanet.de/shlt/start.html">http://lissh.lvn.parlanet.de/shlt/start.html</a></td>
      <td>
        Präsident: Klaus Schlie, klaus.schlie@landtag.ltsh.de, <br/>
        Verwaltungsdirektor: Utz Schliesky, utz.schliesky@landtag.ltsh.de, <br/>
        Parlamentsdokumentation: iud.info@landtag.ltsh.de
      </td>
    </tr>
    <tr>
      <td>Thüringen</td>
      <td><a href="http://www.parldok.thueringen.de">http://www.parldok.thueringen.de</a></td>
      <td>
        Präsidentin: Birgit Keller, praesidentin@landtag.thueringen.de, <br/>
        Verwaltungsdirektor: Jörg Hopfe, joerg.hopfe@landtag.thueringen.de, <br/>
        Parlamentsdokumentation: infodienste@landtag.thueringen.de
      </td>
    </tr>
  </table>
</div>
<!-- Sorry. ._. -->