<% title 'Stilllegung' %>

<h1>kleineAnfragen.de wird abgeschaltet</h1>
<p>Im Sommer 2014 entstand kleineAnfragen.de - als Reaktion auf einen <a href="http://www.zeit.de/mobilitaet/2014-09/deutsche-bahn-bruecken-zustand">Artikel über den Zustand von Bahnbrücken</a> und den dortigen Hinweis auf die Quelle der Daten: Parlamentarische Anfragen. Diese waren zu diesem Zeitpunkt über viele Dokumentationssystemen von Parlamenten verstreut und nicht gut zugänglich. Ohne Suchfunktionen, teilweise war es noch nicht einmal möglich, die PDF-Dokumente zu verlinken.</p>
<p>Dabei sind die Anfragen und Antworten enorm wichtig für die Demokratie: Sie enthalten wertvolle Informationen, die deutlich mehr Menschen zugänglich sein sollten. <br/>
kleineAnfragen hat gezeigt, wie der Zugang zu diesen Informationen aussehen sollte: Es macht die Antworten im Volltext durchsuchbar (und nicht nur anhand von Stichwörtern), erstellt trotz Widrigkeiten der Parlamentssysteme stabile und verlinkbare URLs, verknüpft thematisch ähnliche Anfragen, bietet die Weiterverwendung über maschinenlesbare Metadaten und verschiedene Textformate an, stellt E-Mail-Abonnements und RSS-Feeds für neue Antworten zu eigenen Suchanfragen bereit.
</p>
<p>
In den letzten Monaten haben immer mehr Parlamente ihre Parlamentsdokumentation ohne Rücksprache mit den Usern überarbeitet. Das Resultat: Wir müssten für jedes einzelne Parlament umfangreiche Änderungen an den Scrapern von kleineAnfragen vornehmen, die bislang automatisiert die Parlamentswebseiten abgrasten und veröffentlichte Anfragen importierten.<br/>
Würden die Parlamente ihre Dokumentensammlung auch maschinenlesbar als offene Daten veröffentlichen, wäre dies nicht notwendig. Leider ist das aktuell bei keinem Parlament (vollständig) der Fall, sodass kleineAnfragen keine weiteren und neuen Anfragen und Antworten der Parlamente verarbeiten kann, bis die Software angepasst werden würde.
</p>

<h3>Was nun passiert</h3>
<p>
Im Gegensatz zu anderen Projekten wird kleineAnfragen.de komplett ehrenamtlich betrieben. Das können wir nicht leisten, wenn die Parlamente offensichtlich kein Interesse daran haben, ihre Informationen offen bereitzustellen. Deswegen <strong>wird kleineAnfragen bis zum 31.12.2020 nun immer weiter einschlafen</strong>.
<br/>
<strong>Etwa auftretende Fehler beim Import von Anfragen und Antworten werden nicht mehr korrigiert.</strong> Ab diesem Zeitpunkt werden dann auch keine E-Mail-Benachrichtigungen mehr verschickt und es wird auch keine Volltextsuche mehr möglich sein.
</p>
<p>
Wir kümmern uns um eine rechtzeitige, vollständige Aufnahme ins <a href="https://web.archive.org">Internet Archive</a>. Es wird versucht, statische Dumps unter den URLs zu hinterlassen, denn <a href="https://www.w3.org/Provider/Style/URI">Cool URIs don't change</a>.
</p>

<h3>Was tun?</h3>
<p>
Es ist nun bis zum 31.12.2020 Zeit, von <%= link_to 'Seiten der Parlamenten', info_path %> zu überdenken, wie eine moderne, stabile und offene Möglichkeit geschaffen werden kann, Anfragen und Antworten, aber auch alle anderen parlamentarische Dokumente besser für Menschen zugänglich und für Maschinen auch lesbar zu machen. Wenn Parlamente und Abgeordnete <%= link_to 'uns kontaktieren', info_kontakt_path %> wollen, gerne.
</p>
<p>
<strong>Nun ist es wieder die Aufgabe der Parlamente und insbesondere die des <a href="https://www.parlamentsspiegel.de">Parlamentsspiegel</a>s,</strong> der die Dokumente aller Parlamente aggegieren soll, <strong>die Situation zu verbessern.</strong><br/>
Es ist bezeichnend, dass kleineAnfragen.de insbesondere von Abgeordneten und von Mitarbeiter*innen in den Parlamentsverwaltungen selbst benutzt wird. Offensichtlich profitieren auch sie von unserem Projekt. Wenn es aber keine Bereitschaft zur Kooperation mit uns gibt, können wir auch nicht dauerhaft die Verwaltung subventionieren.
</p>
<p>
Wer <%= link_to 'für kleineanfragen.de spenden', info_spenden_path %> will: Darum geht es nicht. Das Problem lässt sich nicht weiter beheben, indem Spenden an eine NGO eingeworben werden. Das Problem sind die Landesverwaltungen, die auch nach all den Jahren nicht aus ihren eigenen Erfahrungen gelernt haben, und die mit jedem großen Website-Relaunch wieder Links auf Dokumente kaputt machen, URLs brechen. Das hat auch damit zu tun, dass IT-Kompetenzen in der öffentlichen Verwaltung eher ab- denn aufgebaut werden. Falls Sie spenden möchten, <em>[hier Links zu Projekten, die es verdient haben]</em>. Aber das grundlegende Problem bleibt.
</p>

<!-- Sorry. ._. -->
