<% title 'Stilllegung' %>

<h1>kleineAnfragen.de wird abgeschalten</h1>
<p>
In den letzten Monaten haben immer mehr Parlamente ihre Parlamentsdokumentation überarbeitet. Leider passierte dies, ohne an stabile URLs oder sogar an offene Daten zu denken. Das hat nun zur Folge, dass für jedes einzelne Parlament umfangreiche Änderungen an den Scrapern von kleineAnfragen notwendig werden, die bislang automatisiert die Parlamentswebseiten abgrasten und veröffentlichte Anfragen importierten. Würden die Parlamente ihre Dokumentensammlung auch maschinenlesbar als offene Daten veröffentlichen, wäre dies nicht notwendig. Leider ist das aktuell bei keinem Parlament (vollständig) der Fall, sodass kleineAnfragen keine weiteren und neuen Anfragen und Antworten der Parlamente verarbeiten kann, bis die Software angepasst werden würde.
</p>
<p>
Zum Start des Projektes bestand die Hoffnung, nicht nur die Anfragen und Antworten mehr Menschen zugänglich zu machen und sie teilweise auch zum ersten Mal im Volltext durchsuchbar zu machen - es war auch die Idee mit einem positiven Beispiel voranzugehen, und zu zeigen, was trotz der fehlenden Daten der Parlamente möglich ist: Eine Volltextsuche (nicht nur von redaktionell vergebenen Stichwörtern), maschinenlesbare Metadaten, E-Mail-Abonnement für neue Antworten zu eigenen Suchanfragen und Feeds um selbst auf den neuesten Stand bleiben zu können und z.B. daraus automatisiert Twitter-Bots zu betreiben. All dies sind Eigenschaften, die heutzutage mittels moderner Softwareentwicklung relativ zügig umgesetzt werden konnten - und die von den Angeboten der Parlamente, aber insbesondere dem <a href="https://www.parlamentsspiegel.de">Parlamentsspiegel</a> so auch immer noch erwartet werden.<br/>
Bei den Überarbeitungen der Parlamentswebseiten in den letzten Monaten ließ sich davon aber leider wenig erkennen.
</p>
<p>
Rückblickend betrachtet wäre es klug gewesen, bereits von Anfang an diese Erwartungen an die Parlamente und den Parlamentsspiegel zu kommunizieren. Auch wäre eine statischere Methode, die Seiten auf kleineAnfragen.de zu generieren, sinnvoll gewesen, sodass temporäre Ausfälle nicht die komplette Seite mit der gesamten Funktionalität mitreißen.
</p>
<p>
Im Gegensatz zu anderen Projekten wird kleineAnfragen.de komplett ehrenamtlich betrieben. Dahergehend und durch den immer größer werdenen Aufwand, diese Anpassungen bei leider knapper werdenden Ressourcen auch vorzunehmen, <strong>wird kleineAnfragen bis zum 31.12.2020 nun immer weiter einschlafen</strong>.
<br/>
<strong>Etwa auftretende Fehler beim Import von Anfragen und Antworten werden nicht mehr korrigiert.</strong> Ab diesem Zeitpunkt werden dann auch keine E-Mail-Benachrichtigungen mehr verschickt und es wird auch keine Volltextsuche mehr möglich sein.
</p>
<p>
Wir kümmern uns um eine rechtzeitige, vollständige Aufnahme ins <a href="https://web.archive.org">Internet Archive</a>. Es wird versucht, statische Dumps unter den URLs zu hinterlassen, denn <a href="https://www.w3.org/Provider/Style/URI">Cool URIs don't change</a>.
</p>
<!-- Sorry. ._. -->